- content_for(:page_title) do
  %h1 Welcome, from the Graduates!

%h2 Our Alumni:

= form_tag users_path, method: :get do
  %p.search
    = text_field_tag :query, params[:query]
    = submit_tag "Search", name: nil


= paginate @users

%ul.user_pagination
  - @users.each do |user|
    %li.user= link_to "#{user.last_name}, #{user.first_name}", user_path(user)
