- content_for(:page_title) do
  =gravatar_for @user
  %h1.name= "#{@user.first_name} #{@user.last_name}"

  .bio
    %p= "Bio: #{@user.bio}"
  .info
    - if @user.current_employer.present?
      %p= "Current Employer: #{@user.current_employer}"
    - else
      %p= "N/A"
    %p= "Email: #{@user.email}"
    - if @user.twitter.present?
      %p= "Twitter: @#{@user.twitter}"
    - else
      %p= "N/A"
    - if @user.linkedin.present?
      %p= "LinkedIn: @#{@user.linkedin}"
    - else
      %p= "N/A"
