- content_for(:page_title) do
  =gravatar_for @user
  %h1.name= "#{@user.first_name} #{@user.last_name}"

  .bio
    %p= "Bio: #{@user.bio}"
  .info
    %p= "Email: #{@user.email}"
    %p= "Cohort: #{@user.cohort}"
    %p= "Graduation Date: #{@user.graduation_date}"
    %p= info?(@user.current_employer, "Current Employer")
    %p
      %a{ :href => "https://twitter.com/#{@user.twitter}" }
        =info?(@user.twitter, "Twitter")
    %p
      %a{ :href => "https://www.linkedin.com/in/#{@user.linkedin}" }
        =info?(@user.linkedin, "LinkedIn")
