- content_for(:page_title) do
  =gravatar_for @user
  %h1.name= "#{@user.first_name} #{@user.last_name}"

  .bio
    %p= "Bio: #{@user.bio}"
  .info
    %p= "Email: #{@user.email}"
    %p= info?(@user.current_employer, "Current Employer")
    %p= info?(@user.twitter, "Twitter")
    %p= info?(@user.linkedin, "LinkedIn")
