- content_for(:page_title) do
  =gravatar_for @user
  %h1.name= "#{@user.first_name} #{@user.last_name}"

.profile-container
  .bio
    %h4 Bio:
    %p #{@user.bio}
  .info
    %h4 Email:
    %p #{@user.email}
    %h4 Cohort:
    %p #{@user.cohort}
    %h4 Graduation Date:
    %p #{@user.graduation_date}
    %h4 Current Employer:
    %p= info?(@user.current_employer)
    %h4 Twitter:
    %p
      %a{ :href => "https://twitter.com/#{@user.twitter}" }
        =info?(@user.twitter)
    %h4 LinkedIn:
    %p
      %a{ :href => "https://www.linkedin.com/in/#{@user.linkedin}" }
        =info?(@user.linkedin)
