- content_for(:page_title) do
  %h1 Edit Profile

= simple_form_for @user, url: user_registration_path, method: :put do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :bio, as: :text
  = f.input :email
  = f.input :current_employer
  = f.input :cohort
  = f.input :graduation_date
  = f.input :twitter, hint: 'No @ symbol.'
  = f.input :linkedin, hint: 'Put only the portion of the url after linkedin.com/in/.'
  = f.button :submit, "Save Changes"
