!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title The Graduates
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #container
      %nav
        %ul
          %li= link_to "The Graduates |", root_path
          - if !logged_in?
            - unless (controller_name == "users" || controller_name == "user_registrations") && action_name != "index"
              %li= link_to "Sign Up", new_user_registration_path
            - unless controller_name == "user_sessions"
              %li= link_to "Sign In", new_user_session_path
          - else
            %li#edit_user= link_to "Edit Profile |", edit_user_registration_path
            %li#sign_out= link_to "Sign Out", user_session_path, method: :delete
      %header
        = content_for?(:page_title) ? content_for(:page_title) : "Page Title"
      .section-container
        %section#content
          - flash.each do |key, message|
            %div{ class: "flash-#{key}" }= message
          %article= yield
      %footer
        %p This is Brennan Willingham's final capstone project.
        = link_to "View the code on Github", "https://github.com/brenntron/thegraduates"
